<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} - Flaskr</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="sidenav">
	<a href="/"><strong>BetterForDI</strong></a>
	{% if g.user %}
	<button class="dropdown-btn">{{ g.user['username'] }}
		<i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-container">
		<a href="">Account Settings</a>
		<a href="/logout">Logout</a>
	</div>
	{% else %}
	<a href="/login">Login</a>
	{% endif %}


	<button class="dropdown-btn">Acountability
		<i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-container">
		<a href="">Sign In/Out</a>
		<a href="">Form 1s</a>
		<a href="">SDO Mode</a>
	</div>
	<button class="dropdown-btn">CW
		<i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-container">
		<a href="">RO</a>
		<a href="">OPORDs</a>
		<a href="">Frequently Used Docs</a>
	</div>
</div>

<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>

<div class="main">
	{% block main %}
	{% endblock %}
</div>

</body>
