{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Index {% endblock %} </h1>

{% endblock %}

{% block main %}
<p> Some content goes here </p>
<a href="jamesbrahm.us">This is a link</a>

{% endblock %}
